<p id="notice"><%= notice %></p>

<link rel="stylesheet/less" type="text/css" href="styles.less" />

<div>
	<h2 class="center-align">Applicant Profiles</h2>
</div>

<div class="cards-container">
	<% @app_infos.each do |app_info| %>
		<a href="/app_infos/<%= app_info.id %>">
			<div class="col s4">
			  <div class="card small">
				<div class="card-image">
				  <img src="HF_generic.png">
				  <span class="card-title">	<%= app_info.first_name %></span>
				</div>
				<div class="card-content">
					<%= app_info.first_name %> <br>
					<%= app_info.email %> <br>
					<%= app_info.developer_type %> <br>
					<%= app_info.hometown %> <br>
				</div>
			  </div>
			</div>
		</a>
	<% end %> 
</div>

<a class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">add fellow</i></a>

<br>
