<p id="notice"><%= notice %></p>

<link rel="stylesheet/less" type="text/css" href="styles.less" />

<div>
	<h2 class="center-align">Applicant Profiles</h2>
</div>
<div class="row">
	<div class="cards-container">
		<% @app_infos.each do |app_info| %>
			<a href="/app_infos/<%= app_info.id %>">
				<div class="col s4">
				  <div class="card small">
					<div class="card-image">
					  <img class="responsive-img" src="https://pbs.twimg.com/profile_images/992829082420232192/UvlAP299_400x400.jpg" alt="Hacker Fellows photo">
					  <span class="card-title">	<strong> <%= app_info.first_name %> <%= app_info.last_name %> </strong> </span>
					</div>
					<div class="card-content">
						<%= app_info.email %> <br>
						<%= app_info.developer_type %> <br>
						<%= app_info.hometown %> <br>
					</div>
				  </div>
				</div>
			</a>
		<% end %> 
	</div>
</div>

<a class="btn-floating btn-large waves-effect waves-light grey" href="/app_infos/new"><i class="material-icons">add fellow</i></a>

<br>
