<p id="notice"><%= notice %></p>

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">

<div>
	<h2 class="center-align">Applicant Profiles</h2>
</div>

<div class="cards-container">
	<div class="row">
		<% @app_infos.each do |app_info| %>
			<div class="column">
				<a href="/app_infos/<%= app_info.id %>">
					<div class="profile-card">
					  <header>
						<img src="https://miro.medium.com/max/2400/1*gaYerWXGgC0CJezCrliYtw.png">
						<!-- Profile -->
						<h1> <%= app_info.first_name%> <%= app_info.last_name %></h1>
						<h2> <%= app_info.developer_type %> </h2>
					  </header>
					  <!-- Bio -->
					  <div class="profile-bio">
						<p>
							<strong>
								<%= app_info.hometown %> <br>
								<%= app_info.phrase %> <br>
								<%= app_info.email %> <br>
              </strong>
						</p>
						<div class="heart-icon">
						  <i class="far fa-heart"></i>
						</div>
					  </div>
					</div>
				</a>
			</div>
		<% end %> 
	</div>
</div>
<a class="btn-floating btn-large waves-effect waves-light grey" href="/app_infos/new"><i class="material-icons">add fellow</i></a>

<br>

<iframe
    width="350"
    height="430"
    src="https://console.dialogflow.com/api-client/demo/embedded/gingulator-io">
</iframe>
