<p id="notice"><%= notice %></p>

<div class="user-information-profile">
	<div class = "ind-profile-picture">
		<img src="https://miro.medium.com/max/2400/1*gaYerWXGgC0CJezCrliYtw.png" height="50" width="50">
    </div>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad" >
   
          <div class="panel panel-info">
            <div class="panel-heading">
              <h3 class="panel-title"> <%= @app_info.first_name%> <%= @app_info.last_name%></h3>
            </div>
            <div class="panel-body">
              <div class="row">
                <div class=" col-md-9 col-lg-9 "> 
                  <table class="table table-user-information">
                    <tbody>
                      <tr>
                        <td>Developer Type:</td>
                        <td><%= @app_info.developer_type%></td>
                      </tr>
                      <tr>
                        <td>University:</td>
                        <td><%= @app_info.university%></td>
                      </tr>
                      <tr>
                        <td>Fun Facts</td>
                        <td><%= @app_info.fun_facts%></td>
                      </tr>
                      <tr>
                        <td>Phrase that describes you to you very core</td>
                        <td><%= @app_info.phrase%></td>
                      </tr>
                         <tr>
                             <tr>
                        <td>Why do I want to be part of the Michigan startup community? </td>
                        <td><%= @app_info.why_startup %></td>
                      </tr>
                        <tr>
                        <td>Hometown</td>
                        <td><%= @app_info.hometown %></td>
                      </tr>
                      <tr>
                        <td>Email</td>
                        <td><a href="mailto:info@support.com"> <%= @app_info.hometown %> </a></td>
                      </tr>
                        <td>Phone Number</td>
                        <td><%= @app_info.phone %><br>
                        </td>
                           
                      </tr>
                     
                    </tbody>
                  </table>
                  
                </div>
              </div>
            </div>
                 <div class="panel-footer">
					<a data-original-title="Broadcast Message" data-toggle="tooltip" type="button" class="btn btn-sm btn-primary"><i class="glyphicon glyphicon-envelope"></i></a>
                        <span class="pull-right">
							<%= button_to "destroy", @app_info, method: :delete, :id => "open-contacts-dialog-btn",:class => "btn btn-sm btn-danger" %>
                        </span>
						<span class="foo">
							<%= button_to 'Back', app_infos_path %>
						</span>
                 </div>
          </div>
        </div>
      </div>
    </div>
</div>

