<html>
  <head>
    <title>HF Application Information</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
	
  </head>
  
  <body>
	<nav>
		<div class="nav-wrapper">
		  <img class="brand-logo" src="https://media.creativemornings.com/uploads/user/avatar/273045/Screen_Shot_2016-10-18_at_12.21.03_PM.png">
		  <ul id="nav-mobile" class="right hide-on-med-and-down">
			<li><%= link_to 'Home Page', app_infos_path %> </li>
		  </ul>
		</div>
	</nav>
  <% if notice %>
    <p class="alert alert-success"><%= notice %></p>
  <% end %>
  <% if alert %>
    <p class="alert alert-danger"><%= alert %></p>
  <% end %>
	<%= yield %>
  <% if user_signed_in? %>
    <%= link_to 'Log Out', destroy_user_session_path, method: :delete %>
  <% end %>
  </body>
</html>
