<html>
  <head>
    <title>HF Application Information</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
	
  </head>
  
  <body>
	<nav>
		<div class="nav-wrapper">
		  <img class="brand-logo" src="https://media.creativemornings.com/uploads/user/avatar/273045/Screen_Shot_2016-10-18_at_12.21.03_PM.png">
		  <ul id="nav-mobile" class="right hide-on-med-and-down">
			<li><%= link_to 'Home Page', app_infos_path %> </li>
			<li> Func2 </li>
			<li> Func3 </li>
		  </ul>
		</div>
	</nav>
	<%= yield %>
  </body>
</html>
